/* CSS Document */

/*body {
	padding: 2em;
}*/

.jumbotron {
	margin-top: 3em;
	background: url('../images/jumbotron.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #DDD !important;
}

#pagination {
	width: 17em;
	display: block;
	margin: auto;
}